<h1>Welcome</h1>
<p>Welcome to Social Story 1.0.0</p>
<p>Share you stories to the world or completely private as your own personal diary</p>
{{#if user}}

{{else}}
<a href="/auth/google" class="btn red darken-1"><i class="fa fa-google left"></i>Log in with Google</a>
{{/if}}